/* ---------------------header and footer css------------------------ */
.search .fa-search{

    position: absolute;
    top: 20px;
    left: 650px;

}
.email-input {
    border-radius: 30px;
}
.inner-seller {
    margin: 3%!important;
    background-color: #4250d2ab;
}
.stay {
    background-image: url(https://www.piecex.com/assets/img/common/bannerFrame.png);
    background-size:  100% 100%;
    /* object-fit: fill; */
    padding: 2rem 0;
    position: relative;
    z-index: 0;
}
.mobile-symbol {
    display: none;
    width: 100px;
    top: -25px;
    position: absolute;
    margin-left: 70%;
    float: right;
}

   #icon{
    color: rgba(255, 255, 255, 0);
   }
   .bluediv{
    border-radius: 5px;
    color: #fff;
    padding: 7px 11px;
    background-image: linear-gradient(to right,#241471,#414cd9);
    font-size: 14px;
    font-weight: 600;
    border: none;
    min-width: 100px;
   }
 
   .footer{
    background-image: linear-gradient(180deg,#404BD5,#6E76DF);
    color: #fff;
   }
   #icons{
    font-family: FontAwesome;
   }
   .img_logo{
    width: 84px;
   }
  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    #add{
        display: none;
    }
    #btn{
        display: none;
    }
    #foot{
        display: none;
    }
    
   #navar{
    display: none;
   }
   .mobile-symbol{
    display: block;
   }
   .footer{
    margin-bottom: 51px;
   }
   
   .search{
    width: 106px;
    margin-right: 13px;
   }
   .img_logo{
    margin-left:-13px;
   }
    
  
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#contacts{
    display:block;
}

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (min-width: 600px) {
    #contacts{
        display: none;
    }
    #navar{
        display: none;
       }
    #mobileNav{
        display:none;
    }
    #navbarNavDropdown{
    margin-left: 36px;
    }
    .img_logo{
        margin-left: 31px;
       }
       
  }
  /* ------------------end header and footer css------------ */
/* ---------------------banner section------------------ */
.banner-section a {
    color: white !important;
    text-decoration: none;
}

.banner-section {
    padding-bottom: 5rem;
    background-image: url('./image/piecex-hero-bg.png');
    background-size: cover;
    background-position: top;
    
}

.banner_container {
    padding: 0 3%;
}
/* --------------color blue-------------- */
.color_blue{
    color: blue;
}
/* -----------------column logo width-------------------- */
.col_logo_icon {
    width: 100%;
}

.piecex_logo_white {
    width: 50%;
    margin-top: -15px;
}

/* ----------------column content------------------- */
.column_content {
    text-align: center;
    padding-top: 13rem;
}

.pt_5 {
    padding-top: 3rem !important;
}

.pt_4 {
    font-size: 18px;
    margin-bottom: 1rem;
    padding-top: 1.5rem !important;
}

/* ----------------------search bar css----------------------------- */
.search_bar {
    border-radius: 16px;
    background-color: white;
    margin: 4rem 0;
    padding: 5px 10px;
}

#product_search {
    border: none;
    box-shadow: none;
}
/* ---------------------------piecex container-------------------------- */
.piecex_container{
    width: 60%;
    height: fit-content;
    margin: 0 20%;
}
.piecex_container a{
    color: white;
    text-decoration: none;
}
/* ----------------------carousel / slider --------------------- */

.carousel_items{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

.carousel_item_1{
    background-image: url('./image/mobile-hero-iot.png');
    background-repeat: no-repeat;
    height: 560px;

}
.carousel_item_2{
    background-image: url('./image/mobile-hero-piecex.png');
    background-repeat: no-repeat;
    height: 560px;
}
.carousel_item_3{
    background-image: url('./image/mobile-hero-oss.png');
    background-repeat: no-repeat;
    height: 560px;
}

/* ------------------------banner and carousel media quary---------------------- */
@media screen and (max-width: 1030px) {
    .banner-section{
    display: none;
    }
}
@media screen and (max-width: 991px) {
    .column_content {
        height: 350px;
        padding-top: 5rem;
    }
}
/* --------------------------------language container----------------------------------- */
.language_container .row{
    justify-content: center;
}
.language_container{
    padding: 2rem;
    background-color: #d3ceed4a;
    text-align: center;
}
.language_container a{
    width: max-content;
    padding: 0 20px;
    margin-top: 10px;
}
/* -------------------------featured items---------------------------- */
.common_padding{
    padding: 4% !important;
}

.featured_items .viewprod{
   right: 0;
   text-decoration: none;
   font-weight: 700;
}

/* -------------- card image div----------------- */

.card_img_div{
    margin:0 0 0 -5px ;
    flex-wrap: wrap;
    padding-top: 5px;
    background-color: white;
    bottom: 0;
}
.card_img_div div{
    padding: 0 5px;
    margin: 0 5px;
    background-color: #F2F1FA;
}

/* ------------card decoration-------------- */
.like_img{
    top: 10px;
    right: 10px;
}
.card-body a,
.discount a,
.card_img_div a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.card-body a:hover,
.discount a:hover,
.card_img_div a:hover{
    color: blue;
}
.card_image,
.card-body,
.discount_container{
    font-size: small;
}
#featured_card{
   padding: 0 0 20px 0;
}
#featured_card .card-body h6{
    height: 40px;
}
.price_content{
    align-items: center;
    justify-content: center;
}
.card_price p{
    text-align: center;
    font-weight: 600;
    margin: 0;
}
/* -----------buy button--------- */
#buttons{
    padding: 10px 40px;
    font-weight: 600;
    border: none;
    box-shadow: none;
    background-image: linear-gradient(to right,#241471,#414cd9);
}
#buttons:hover{
    background: none;
    background-color: black;
}
#sign_btn{
    padding: 6px 30px;
    height: fit-content;
    font-weight: 600;
    border: none;
    box-shadow: none;
    background-image: linear-gradient(to right,#241471,#414cd9);
}
#sign_btn:hover{
    background: none;
    background-color: black;
}
/* -------------------innovation container------------------ */

.innovation_container .piecex_text{
    font-size: 16px;
    height: 150px;
}
/* -------------------popular industry and popular category--------------- */

.popular_card a{
    background:#414cd9;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    transition: .5s;
}
.popular_industry .ranking_number,
.popular_category .ranking_number
{
    right: 48%;
    top: 8%;
}
.popular_card:hover{
    transform: scale(1.05);
}
/* -- -------------------------how it work container-----------------------  */

@media (max-width: 541px){
.how_it_work h4 {
    font-size: 13px;
}
}
/* -- ---------------testimonials container---------------  */
.testimonials_container .testimonials_quotation{
    width: 70px;
    top: -30px;
    left: 30px;
}
.testimonials_container #test_card .card-body{
    color: blue;
    font-size: 16px;
}
.testimonials_container #test_card .card-body .card-text{
    height: 60%;
}
.content_image_right{
    height: 70px;
}
.content_image_right img{
    right: 0;
}
.testimonials_container #test_card{
    height: 90%;
box-shadow: 0.6rem 0.43rem 0.9rem 0.23rem rgb(0 0 0 / 10%) !important;
    border: none;
}
/* ----------------banner frame and enterprise frame--------------- */
.banner_frame,
.enterprise_frame{
    padding: 2% 0;
    margin: 60px 0;
    background-image: url('./image/bannerFrame.png');
    background-size: cover;
}
.banner_frame .inner_seller,
.enterprise_frame .inner_seller
{
    margin: 0 3% 0 3% !important;
    padding-left: 20px;
    background-color: #4250d2ab;
    color: white;
}
.banner_frame .inner_seller img,
.enterprise_frame .inner_seller img
{
    top: -50px;
    right: 0;
}
.banner_frame .inner_seller p,
.enterprise_frame .inner_seller p
{
    font-size: 20px;
    opacity: .9;
}
#button_light{
    color: blue;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
}
@media screen and (max-width:650px) {
.banner_frame .inner_seller img,
.enterprise_frame .inner_seller img
{
    width: 100px;
}
}
/* ------------------become a seller container------------------ */
.become_text{
    font-size: 20px;
}
.plant_img{
    top: 20%;
    right: -3.3%;
}
/* ------------------piecex enterprise container------------------ */
.piecex_text{
    font-size: 20px;
    font-weight: 600;
}
/* ---------------------piecex wallet container----------------- */
.piecex_wallet_text{
    font-weight: 600;
}
